TestProject/Library/
TestProject/Logs/
TestProject/obj/
TestProject/Temp/
TestProject/Assembly-CSharp.csproj
TestProject/SlangPluginProject.sln
TestProject/UserSettings/
TestProject/.vscode/
TestProject/.vs/
.vscode/
.vs/